.content-text{
    font-size: 24px;
}
.row-col{
        @media screen and (min-width: 768px) and (max-width:1000px){
            flex-direction: column;
            .col-md-4{
                max-width: 100%;
            }
        }
}
.img-responsive{
    width: 560px;
    @media screen and (max-width:425px){
        width: 80vw;
        height: auto;
    }
}
.bullets-div{
    padding: 20vh;
    @media screen and (max-width:425px){
        padding: 0px;
    }
}
.bullets{
    display: flex;
    @media screen and (max-width:425px){
        display: block;
    }
}


//TILES
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
.row-pad-all{
    padding: 50px;
}
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
.col-mar-bot{
    margin-bottom: 20px;
}
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }