.hero-image{
    height: 120vh;
    // background-image: url('/img/template1.jpg');
    // background-size: contain;
    display: flex;
    // @media screen and (max-width:425px){
    //     background-image: linear-gradient(gray, lightgray);
    // }
}
.hero-background{
    position: inherit;
    width: 100vw;
    object-fit: cover;
}
.hero-user-img{
    background-color: white;
    height: 30vh;
    width: 30vw;
    margin: auto;
}
.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    @media screen and (max-width:425px){
        left: 50%;
        top:60%
    }
}