$accent-color: #ffed4a;
.package {
    box-sizing: border-box;
    border: 3px solid #e8e8e8;
    border-radius: 7px;
    display: inline-block;
    padding: 24px;
    text-align: center;
    float: left;
    transition: margin-top .5s linear;
    position: relative;
    margin-right: 11px;
    &:hover {
        margin-top: -30px;
        transition: margin-top .3s linear;
    }
}
.name {
    color: #565656;
    font-weight: 300;
    font-size: 3rem;
    margin-top: -5px;
}
.price {
    margin-top: 7px;
    font-weight: bold;
    &::after {
        content: " / per month";
        font-weight: normal;
    }
}.price-year {
    margin-top: 7px;
    font-weight: bold;
    &::after {
        content: " / per year";
        font-weight: normal;
    }
}
hr {
    background-color: #dedede;
    border: none;
    height: 1px;
}
.trial {
    font-size: .9rem;
    font-weight: 600;
    padding: 2px 21px 2px 21px;
    color: $accent-color;
    border: 1px solid #e4e4e4;
    display: inline-block;
    border-radius: 15px;
    background-color: white;
    position: relative;
    bottom: -20px;
}
.package ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 29px;
}
.package li {
    margin-bottom: 15px;
    &:before {
        @extend .checkIcon;
        font-size: 1.3rem;
        color: $accent-color;
        margin-right: 3px;
    }
}
.checkIcon {
    font-family: "FontAwesome";
    content: "\f00c";
}
.brilliant {
    border-color: $accent-color;
    &::before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 64px 64px 0 0;
        border-color: #ffed4a transparent transparent transparent;
        position: absolute;
        left: 0;
        top: 0;
        content: "";
    }
    &::after {
        @extend .checkIcon;
        color: white;
        position: absolute;
        left: 9px;
        top: 6px;
        text-shadow: 0 0 2px #37c5b6;
        font-size: 1.4rem;
    }
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: $accent-color ;
    background-color: $accent-color  !important;
}