.project-element {
  position: relative;
}

.project-element:hover {
  outline: 3px solid lightgray;
}

.element-delete {
  position: absolute;
  top: 10px;
  right: 2vw;
  display: none;
}

@media screen and (max-width: 425px) {
  .element-delete {
    display: block;
  }
}

.element-edit {
  position: absolute;
  top: 10px;
  right: 15vw;
  display: none;
}

@media screen and (max-width: 425px) {
  .element-edit {
    display: block;
    top: 50px;
    right: 2vw;
  }
}

.media-delete {
  position: absolute;
  top: 10px;
  display: none;
}

@media screen and (max-width: 425px) {
  .media-delete {
    display: block;
  }
}

.img-edit-delete {
  position: absolute;
  top: 10px;
  right: 15vw;
  display: none;
}

@media screen and (max-width: 425px) {
  .img-edit-delete {
    display: block;
  }
}

.project-element:hover .element-delete,
.project-element:hover .element-edit {
  display: block;
}

.js-image-hover:hover .img-edit-delete {
  display: block;
}

.moving-element {
  height: 5vh;
  width: 100vw;
  padding: 10px !important;
  font-size: 1rem !important;
}

