.body-t2 {
  font-family: "Poppins", sans-serif;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  width: 100vw;
}

.navbar-fixed-top.scrolled {
  background-color: #0c0c0c !important;
  transition: background-color 200ms linear;
}

.hero-image-t2 {
  height: 100vh;
}

.hero-text-t2 {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 425px) {
  .hero-text-t2 {
    left: 50%;
    top: 60%;
  }
}

.hero-background-t2 {
  position: inherit;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-t2 {
  margin: 30px 0px;
}

.content1-t2 {
  margin: 50px 0px;
}

.bullets-div-t2 {
  padding: 20vh;
  text-align: center;
  background-color: lightgrey;
}

@media screen and (max-width: 425px) {
  .bullets-div-t2 {
    padding: 0px;
  }
}

.row-container {
  display: flex;
  flex-wrap: wrap;
}

.row-custom {
  padding: 50px;
}

@media screen and (max-width: 425px) {
  .row-custom {
    padding: 0px;
  }
}

.tile-t2 {
  float: left;
  width: 18vw;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .tile-t2 {
    width: 25vw;
    padding: 0px;
  }
}

@media screen and (max-width: 425px) {
  .tile-t2 {
    width: 40vw;
    padding: 0px;
  }
}

@media screen and (max-width: 374px) {
  .tile-t2 {
    width: 100vw;
    padding: 0px;
  }
}

.tile-t2:hover {
  background-color: lightskyblue;
}

.gallery-tiles {
  display: flex;
  flex-wrap: wrap;
}

.gallery-tiles figure {
  padding: 0px;
  margin: 0px;
}

