body {
  background-color: lightgrey;
  background-image: url("/img/background.png");
  background-size: cover;
}

.title {
  width: 30vw;
  margin: 32px auto;
  text-align: center;
}

form {
  width: 30vw;
  margin: 0 auto;
  background-color: white;
  padding: 24px;
}

.reg-btn {
  outline: none;
  background-color: #0ca750;
  border-color: #0ca750;
}

